<?xml version="1.0"?>

<launch>
  <arg name="project" default="path_generator" />
  
  <arg name="map_file" default="$(find path_generator)/map/output.yaml"/>
  
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />
   
  <node pkg="$(arg project)" type="$(arg project)" name="$(arg project)" output="screen" respawn="true" />
  
  <node pkg="global_pose_to_flat_map" type="global_pose_to_flat_map" name="global_pose_to_flat_map"/>
  
  <node pkg="pcd_map_viewer" type="pcd_map_viewer" name="pcd_map_viewer" output="screen"/>
  
  <node pkg="rviz" type="rviz" name="rviz_$(arg project)" args="-d $(find path_generator)/launch/Map.rviz" />
  
</launch>
